$colors: (
    pr-blue:hsl(225, 100%, 94%),
    pr-bright-blue: hsl(245, 75%, 52%),
    pr-bright-blue-hover: hsl(245, 83%, 68%),
    nt-pale-blue: hsl(225, 100%, 98%),
    nt-desaturated-blue: hsl(224, 23%, 55%),
    nt-dark-blue: hsl(223, 47%, 23%)
);

$hero-pad: 220px;

$f-size-title: 1.5625rem;
$f-size-p: 1rem;
$f-size-span: 0.875rem;
$f-size-strong: .9375rem;
$f-size-link: .8125rem;

$border-radius: 15px;
$border-rad-button: 7px;